<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ComPort" value="COM1"/>
    <add key="COMBaud" value="9600"/>
    <add key="LogFolder" value="System.Environment.SpecialFolder.LocalApplicationData"/>
    <add key="LogDays" value="10"/>
    <add key="DbName" value="PowerStim32.db"/>
  </appSettings>
</configuration>